*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
    font-family: 'Open Sans', sans-serif;
    list-style: none;
    text-decoration: none;
}
body{
    width: 100%;
    height: 100vh;
    background-image: url(image/slider5.jpg);
    background-position: center;
    background-size: cover;
    position:relative;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex ;
    align-items: center;
    justify-content: space-between;
    padding: 18px 50px;
}
.logo img{
    width: 150px;
    height: auto;
}
.navlist{
    display: flex;
}
.navlist a{
    display: flex;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 4px 5px;
    margin: 0 22px;
    border-bottom: 2px solid transparent;
    transition: all 0.42s;
}
.navlist a:hover{
    color: #d3d3d3;
    border-bottom: 2px solid #fff;
}
#menu-icon{
    color: #fff;
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
}
.home-btn{
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    border: 2px solid #ce1b41;
    background-color:#ce1b41 ;
    padding: 10px 25px;
    border-radius: 30px;
    transition: all 0.42s;
}
.home-btn:hover{
    background-color: transparent;
    border: 2px solid #fff;
}
section{
    padding: 0 10%;
}
.home{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
}
.home-text h4{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}
.home-text h1{
    font-size: 48px;
    text-transform:uppercase ;
    color: #fff;
    font-weight: 700;
    margin-bottom: 10px;
}
.home-text p{
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    max-width: 460px;
    line-height: 28px;
}
.home-text span{
    font-weight: bold;
}
.home-inp{
    width: 100%;
    max-width: 460px;
    position: relative;
}
.home-inp input:first-child{
    display: inline-block;
    width: 85%;
    outline: none;
    padding: 16px 140px 16px 15px;
    border: 2px solid #ce1b41;
    border-radius: 30px;
}
.home-inp input:last-child{
    position: absolute;
    display: inline-block;
    border: none;
    background-color: #152f5d;
    color: #fff;
    text-transform: capitalize;
    font-size: 15px;
    padding: 16px 40px;
    border-radius: 30px;
    cursor: pointer;
    top: 1px;
    right: 10px;
}
.right{
    position: absolute;
    top: 70%;
    right: -150px;
    padding: 0 5%;
    transform: rotate(90deg);
}
.right a{
    color: #fff;
    margin: 0 15px;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 500;
    transition: all 0.42s;
}
.right a:hover{
    color: #ce1b41;
}